.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 12px;
  min-height: 500px;
}

.main-container {
  margin: 12px;
  padding: 12px;
}

.pagination-container {
  margin: 12px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
}

.pagination-container button {
  padding: 12px;
  border-radius: 6px;
}
.pagination-container .active{
  background-color: blue;
  color:white;

}
.character-status-select{
  padding:12px;
  margin:10px;
  border-radius: 6px;
  border:1px solid #f1f1f1;


}

.search-input{
     padding:12px;
  margin:10px;
  border-radius: 6px;
   border:1px solid #f1f1f1;

}